* {
    margin: 0;
}

.horizontal {
    display: flex;
    justify-content: flex-start;
}

.slist {
    list-style: none;
    background: #f5f5f5;
    margin-left: 8px;
    margin-right: 8px;
}

.element {
    width: fit-content;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 4px;
    border: 2px solid #726d6d;
    border-radius: 6px;
    align-items: center;
}

.element .placeholder {
    width: fit-content;
    border: 2px solid #726d6d;
    background: #f5f5f5;
    color: #bebbbb;
}

.element .hint {
    border: 1px solid #ffc49a;
    background: #feffb4;
}

.element .active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
}

li {
    background: #d7caf9;
    padding: 10px;
}

#trash {
    text-align: center;
    width: auto;
    margin: 5px;
    padding: 8px;
    border: 2px solid #726d6d;
    background: #f5f5f5;
    border-radius: 10px;
}

#trash.active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
}

.editable {
    min-width: 60px;
    max-height: 18px;
    background: rgb(253, 255, 231);
    border: 2px solid #726d6d;
    border-radius: 4px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editable .hint{
    border: 1px solid #ffa5a5;
    background: #feffb4;
}

.editable .active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
}

#display {
    margin-left: 200px;
    font-size: 50px;
}

.dropdown {
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px;
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f8e9f7;
    color: rgb(73, 71, 73);
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #726d6d;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8e9f7;
    min-width: 80px;
    border: 2px solid #726d6d;
    border-radius: 4px;
    z-index: auto;
}

.dropdown-content a {
    color: rgb(73, 71, 73);
    font-size: 16px;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f5c0f0
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 20;
}

.var {
    background-color: #ffc49a;
    max-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
}

#add_var {
    margin-top: 10px;
    position: relative;
    left: 25%;
}

.var_horizontal{
    display: flex;
    justify-content:left;
    align-items: center;
}
