* {
    margin: 0;
}

.horizontal {
    display: flex;
    justify-content: flex-start;
}

.rightalign {
    justify-content: flex-start;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    left: 1000px;
    bottom: 34px;
    right: 6px;
    top: 34px;
    position: absolute;
    background: #f5f5f5;
    border: 2px solid #726d6d;
}

/*
blank_left {
    margin-left: 0px;
    background: #2f33f8;
    animation: catAnimeLeft 1s linear 0s;
    -webkit-animation: catAnimeLeft 1s linear 0s;
}
blank_left:hover {
    animation-play-state: paused;
}
@keyframes catAnimeLeft {
    0% {
        padding-left: 0px;
    }
    100% {
        padding-left: 10px;
    }
}*/
/*
blank_right {
    background: #f5f5f5;
    animation: catAnimeRight 0.5s linear 0s;
    -webkit-animation: catAnimeRight 0.5s linear 0s;
}
blank_right:hover {
    animation-play-state: running;
}
@keyframes catAnimeRight {
    0% {
        padding-right: 0px;
    }
    100% {
        padding-right: 10px;
    }
}*/
/*
.blank_top {
    margin-top: 0px;
    width: 365px;
    background: #2f33f8;
    animation: catAnimeTop 1s linear 0s;
    -webkit-animation: catAnimeTop 1s linear 0s;
}
.blank_top:hover {
    animation-play-state: paused;
}
@keyframes catAnimeTop {
    0% {
        padding-bottom: 0px;
    }
    100% {
        padding-bottom: 10px;
    }
}*/
/*
blank_bottom {
    background: #f5f5f5;
    animation: catAnimeBottom 0.5s linear 0s;
    -webkit-animation: catAnimeBottom 0.5s linear 0s;
}
blank_bottom:hover {
    animation-play-state: running;
}
@keyframes catAnimeBottom {
    0% {
        padding-bottom: 0px;
    }
    100% {
        padding-bottom: 10px;
    }
}*/

.slist {
    list-style: none;
    background: #f5f5f5;
    margin-left: 8px;
    margin-right: 8px;
}

.element {
    width: fit-content;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 4px;
    border: 2px solid #726d6d;
    border-radius: 6px;
    align-items: center;
}

.element .placeholder {
    width: fit-content;
    border: 2px solid #726d6d;
    background: #f5f5f5;
    color: #bebbbb;
}

.element .hint {
    border: 1px solid #ffc49a;
    background: #feffb4;
}

.element .active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
}

li {
    background: #d7caf9;
    padding: 10px;
}

#trash {
    text-align: center;
    width: auto;
    margin: 5px;
    padding: 8px;
    border: 2px solid #726d6d;
    background: #f5f5f5;
    border-radius: 10px;
}

#trash.active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
}

.editable {
    min-width: 60px;
    max-height: 18px;
    background: rgb(253, 255, 231);
    border: 2px solid #726d6d;
    border-radius: 4px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editable .hint{
    border: 1px solid #ffa5a5;
    background: #feffb4;
}

.editable .active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
}

#display {
    margin-left: 50px;
    font-size: 50px;
}

.dropdown {
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px;
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f8e9f7;
    color: rgb(73, 71, 73);
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #726d6d;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8e9f7;
    min-width: 80px;
    border: 2px solid #726d6d;
    border-radius: 4px;
    z-index: auto;
}

.dropdown-content a {
    color: rgb(73, 71, 73);
    font-size: 16px;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f5c0f0
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 20;
}

.var {
    background-color: #ffc49a;
    max-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
}

#add_var {
    margin-top: 10px;
    position: relative;
    left: 25%;
}

.var_horizontal{
    display: flex;
    justify-content:left;
    align-items: center;
}
